body {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
}

#form1 {
    display: flex;
}

.listTasks {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.task-item{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-done{
    color: red;
    text-decoration: line-through;
}